@{
    ViewBag.Title = "Room Details";
    Layout = "~/Views/Shared/_Layout_Details.cshtml";
}

@section header_end_css{
    <!-- bin/jquery.slider.min.css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jslider/css/jslider.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jslider/css/jslider.round.css")" type="text/css">
}

<script>
    $('li.room').addClass('active');
</script>

<div class="container pagecontainer mart5 offset-0">
    <!-- SLIDER -->
    <div class="col-md-8 details-slider">
        <div id="c-carousel">
            <div id="wrapper">
                <div id="inner">
                    <div id="caroufredsel_wrapper2">
                        <div id="carousel">
                            <img src="@Url.Content("~/Content/images/slider/room/room-1.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/room-2.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/room-3.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/room-4.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/room-5.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/room-6.jpg")" alt="" />
                        </div>
                    </div>
                    <div id="pager-wrapper">
                        <div id="pager">
                            <img src="@Url.Content("~/Content/images/slider/room/tooltips/room-1t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/tooltips/room-2t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/tooltips/room-3t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/tooltips/room-4t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/tooltips/room-5t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/room/tooltips/room-6t.jpg")" width="120" height="68" alt="" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <button id="prev_btn2" class="prev2">
                    <img src="@Url.Content("~/Content/images/spacer.png")" alt="" /></button>
                <button id="next_btn2" class="next2">
                    <img src="@Url.Content("~/Content/images/spacer.png")" alt="" /></button>
            </div>
        </div>
        <!-- /c-carousel -->
    </div>
    <!-- END OF SLIDER -->

    <!-- RIGHT INFO -->
    <div class="col-md-4 detailsright offset-0">
        <div class="padding20">
            <h4 class="lh1">Rixos The Palm Dubai</h4>
            <img src="@Url.Content("~/Content/images/smallrating-5.png")" alt="" />
        </div>

        <div class="line3"></div>

        <div class="hpadding20">
            <h2 class="opensans slim green2">Wonderful!</h2>
        </div>
        <div class="line3 margtop20"></div>

        <div class="col-md-6 bordertype1 padding20">
            <span class="opensans size30 bold grey2">97%</span><br />
            of guests<br />
            recommend
        </div>
        <div class="col-md-6 bordertype2 padding20">
            <span class="opensans size30 bold grey2">4.5</span>/5<br />
            guest ratings
        </div>

        <div class="col-md-6 bordertype3">
            <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" /><br />
            18 reviews
        </div>
        <div class="col-md-6 bordertype3">
            <a href="#" class="grey">+Add review</a>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="hpadding20">
            <a href="#" class="booknow margtop20 btnmarg">Book now</a>
        </div>
    </div>
    <!-- END OF RIGHT INFO -->
</div>
<!-- END OF container-->

<div class="container mt25 offset-0">
    <div class="col-md-8 pagecontainer2 offset-0">
        <div class="cstyle10 orange"></div>

        <ul class="nav nav-tabs orange myTab">
            <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#summary"><span class="summary"></span><span class="hidetext">Amenities</span>&nbsp;</a></li>
            <li onclick="mySelectUpdate()" class="active"><a data-toggle="tab" href="#roomrates"><span class="rates"></span><span class="hidetext">Room rates</span>&nbsp;</a></li>
            <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#preferences"><span class="preferences"></span><span class="hidetext">Policies & Fees</span>&nbsp;</a></li>
            <li onclick="loadScript()" class=""><a data-toggle="tab" href="#maps"><span class="maps"></span><span class="hidetext">Maps</span>&nbsp;</a></li>
            <li onclick="mySelectUpdate(); trigerJslider(); trigerJslider2(); trigerJslider3(); trigerJslider4(); trigerJslider5(); trigerJslider6();" class=""><a data-toggle="tab" href="#reviews"><span class="reviews"></span><span class="hidetext">Reviews</span>&nbsp;</a></li>
            <!--<li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#thingstodo"><span class="thingstodo"></span><span class="hidetext">Things to do</span>&nbsp;</a></li>-->

        </ul>
        <div class="tab-content4">
            <!-- TAB 1 -->
            <div id="summary" class="tab-pane fade ">
                <p class="hpadding20">
                    <b>Rixos The Palm Dubai Amenities</b>
                </p>
                <div class="line4"></div>

                <!-- Collapse 1 -->
                <button type="button" class="collapsebtn2" data-target="#collapse1">
                    All-Inclusive Details
                </button>

                <div id="collapse1" class="collapse in">
                    <div class="hpadding20">
                        Guests can book rooms at Rixos The Palm Dubai for a rate that is either for theroom only or for all-inclusive. All-inclusive rates are higher because they include onsite food and beverages in the room rate (some restrictions may apply).
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 1 -->

                <div class="line4"></div>

                <!-- Collapse 2 -->
                <button type="button" class="collapsebtn2" data-target="#collapse2">
                    General 
                </button>
                <div id="collapse2" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>24-hour front desk</li>
                                <li>Babysitting or childcare (surcharge)</li>
                                <li>Children's club (free)</li>
                                <li>Supervised childcare/activities (surcharge)</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Airport transportation (surcharge)</li>
                                <li>Arcade/game room</li>
                                <li>Total number of rooms - 261</li>
                                <li>Number of floors - 10</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>ATM/banking</li>
                                <li>Breakfast available (surcharge)</li>
                                <li>Business center</li>
                                <li>Coffee/tea in lobby</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 2 -->

                <div class="line4"></div>

                <!-- Collapse 3 -->
                <button type="button" class="collapsebtn2" data-target="#collapse3">
                    Dining 
                </button>

                <div id="collapse3" class="collapse in">
                    <div class="hpadding20">
                        Buffet breakfasts are available for a surcharge.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 3 -->

                <div class="line4"></div>

                <!-- Collapse 4 -->
                <button type="button" class="collapsebtn2" data-target="#collapse4">
                    Internet
                </button>

                <div id="collapse4" class="collapse in">
                    <div class="hpadding20">
                        Available in all rooms: Free Wi-Fi
                    </div>
                    <div class="hpadding20">
                        Available in some public areas: Free Wi-Fi
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 4 -->

                <div class="line4"></div>

                <!-- Collapse 5 -->
                <button type="button" class="collapsebtn2" data-target="#collapse5">
                    Parking 
                </button>

                <div id="collapse5" class="collapse in">
                    <div class="hpadding20">
                        Free valet parking
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 5 -->

                <div class="line4"></div>

                <!-- Collapse 6 -->
                <button type="button" class="collapsebtn2" data-target="#collapse6">
                    Room Amenities 
                </button>

                <div id="collapse6" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Hypo-allergenic bedding available</li>
                                <li>Air conditioning</li>
                                <li>Soundproofed rooms</li>
                                <li>Minibar</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Complimentary bottled water</li>
                                <li>Daily housekeeping</li>
                                <li>Separate sitting area</li>
                                <li>Premium bedding</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Furnished balcony</li>
                                <li>Direct-dial phone</li>
                                <li>Coffee/tea maker</li>
                                <li>Complimentary newspaper</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 6 -->
                <div class="line4"></div>
                <!-- Collapse 7 -->
                <button type="button" class="collapsebtn2" data-target="#collapse7">
                    Recreation 
                </button>
                <div class="hpadding20">
                    A private beach and outdoor tennis courts are featured at the hotel. An outdoor pool and a spa tub are on site. Other recreational amenities include a sauna, a steam room, and a fitness center.
                </div>
                <div class="hpadding20">
                    The recreational activities listed below are available either on site or nearby; fees may apply.
                </div>
                <div id="collapse7" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Golfing nearby</li>
                                <li>Skydiving nearby</li>
                                <li>Golf lessons available nearby</li>
                                <li>Aerobics on site</li>
                                <li>Scuba diving on site</li>
                                <li>Tennis on site</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Basketball on site</li>
                                <li>Fishing on site</li>
                                <li>Kayaking on site</li>
                                <li>Parasailing on site</li>
                                <li>Volleyball on site</li>
                                <li>Water skiing on site</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Pilates classes on site</li>
                                <li>Playground on site</li>
                                <li>Racquetball/squash on site</li>
                                <li>Sailing on site</li>
                                <li>Yoga classes/instruction on site</li>
                                <li>Beach volleyball on site</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 7 -->
                <div class="line4"></div>
                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse8">
                    Spa 
                </button>
                <div class="hpadding20">
                    <b>Rixos Royal Spa</b> has 11 treatment rooms including rooms for couples and outdoor treatment areas. Services include massages, facials, body scrubs, and body treatments. The spa is equipped with a sauna, a spa tub, and Turkish bath/hammam. A variety of treatment therapies are provided, including aromatherapy. 
                </div>
                <div id="collapse8" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Spa tub in spa</li>
                                <li>Couples treatment rooms</li>
                                <li>Sauna in spa</li>
                                <li>Massages</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Manicures and pedicures</li>
                                <li>Body treatments</li>
                                <li>Number of treatment rooms 11</li>
                                <li>Body scrubs</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Facial treatments</li>
                                <li>Outdoor treatment areas</li>
                                <li>Aromatherapy treatments</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 8 -->
                <div class="line4"></div>
                <!-- Collapse 9 -->
                <button type="button" class="collapsebtn2" data-target="#collapse9">
                    Accessibility
                </button>
                <div class="hpadding20">
                    To make requests for specific accessibility needs, complete the “Special or Accessibility Requests" section of “Trip Preferences" when you book your hotel.
                </div>
                <div id="collapse9" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Accessible bathroom</li>
                                <li>In-room accessibility</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Accessible path of travel</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Accessible parking</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 9 -->

            </div>
            <!-- TAB 2 -->
            <div id="roomrates" class="tab-pane fade active in">
                <div class="hpadding20">
                    <p class="dark">Your travel rates</p>
                    <div class="col-md-4 offset-0">
                        <div class="w50percent">
                            <div class="wh90percent textleft">
                                <span class="opensans size13"><b>Check in</b></span>
                                <input type="text" class="form-control mySelectCalendar" id="datepicker" placeholder="mm/dd/yyyy" />
                            </div>
                        </div>

                        <div class="w50percentlast">
                            <div class="wh90percent textleft right">
                                <span class="opensans size13"><b>Check out</b></span>
                                <input type="text" class="form-control mySelectCalendar" id="datepicker2" placeholder="mm/dd/yyyy" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 ">
                            <div class="room1">
                                <div class="w50percent">
                                    <div class="wh90percent textleft">
                                        <span class="opensans size13"><b>ROOM 1</b></span><br />

                                        <div class="addroom1 block"><a onclick="addroom2()" class="grey cpointer">+ Add room</a></div>
                                    </div>
                                </div>

                                <div class="w50percentlast">
                                    <div class="wh90percent textleft right ohidden">
                                        <div class="w50percent">
                                            <div class="wh90percent textleft left">
                                                <span class="opensans size13"><b>Adult</b></span>
                                                <select class="form-control mySelectBoxClass">
                                                    <option>1</option>
                                                    <option selected>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="w50percentlast">
                                            <div class="wh90percent textleft right ohidden">
                                                <span class="opensans size13"><b>Child</b></span>
                                                <select class="form-control mySelectBoxClass">
                                                    <option>0</option>
                                                    <option selected>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="room2 none">
                                <div class="clearfix"></div>
                                <div class="line1"></div>
                                <div class="w50percent">
                                    <div class="wh90percent textleft">
                                        <span class="opensans size13"><b>ROOM 2</b></span><br />
                                        <div class="addroom2 block grey">
                                            <a onclick="addroom3()" class="grey cpointer">+ Add room</a> | <a onclick="removeroom2()" class="orange cpointer">
                                                <img src="@Url.Content("~/Content/images/delete.png")" alt="delete" /></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="w50percentlast">
                                    <div class="wh90percent textleft right">
                                        <div class="w50percent">
                                            <div class="wh90percent textleft left">
                                                <span class="opensans size13"><b>Adult</b></span>
                                                <select class="form-control mySelectBoxClass">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option selected>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="w50percentlast">
                                            <div class="wh90percent textleft right">
                                                <span class="opensans size13"><b>Child</b></span>
                                                <select class="form-control mySelectBoxClass">
                                                    <option selected>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="room3 none">
                                <div class="clearfix"></div>
                                <div class="line1"></div>
                                <div class="w50percent">
                                    <div class="wh90percent textleft">
                                        <span class="opensans size13"><b>ROOM 3</b></span><br />
                                        <div class="addroom3 block grey">
                                            <a onclick="addroom3()" class="grey cpointer">+ Add room</a> | <a onclick="removeroom3()" class="orange cpointer">
                                                <img src="@Url.Content("~/Content/images/delete.png")" alt="delete" /></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="w50percentlast">
                                    <div class="wh90percent textleft right">
                                        <div class="w50percent">
                                            <div class="wh90percent textleft left">
                                                <span class="opensans size13"><b>Adult</b></span>
                                                <select class="form-control mySelectBoxClass">
                                                    <option selected>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="w50percentlast">
                                            <div class="wh90percent textleft right">
                                                <span class="opensans size13"><b>Child</b></span>
                                                <select class="form-control mySelectBoxClass">
                                                    <option selected>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 center offset-0">
                            <button class="updatebtn caps center margtop20">Update</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br />

                <p class="hpadding20 dark">Room type</p>

                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item1.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <h4 class="opensans dark bold margtop1 lh1">Standard Double room</h4>
                            Max Occupancy: 2 adults
                            <ul class="hotelpreferences margtop10">
                                <li class="icohp-internet"></li>
                                <li class="icohp-air"></li>
                                <li class="icohp-pool"></li>
                                <li class="icohp-childcare"></li>
                                <li class="icohp-fitness"></li>
                                <li class="icohp-breakfast"></li>
                                <li class="icohp-parking"></li>
                            </ul>
                            <div class="clearfix"></div>
                            <ul class="checklist2 margtop10">
                                <li>FREE Cancellation</li>
                                <li>Pay at hotel or pay today </li>
                            </ul>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <span class="opensans orange size24">$49.51</span><br />
                            <span class="opensans lightgrey size12">avg/night</span><br />
                            <br />
                            <span class="lred bold">3 left</span><br />
                            <br />
                            <button class="bookbtn mt1">Book</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item2.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8">
                            <h4 class="opensans dark bold margtop1 lh1">Double Room with Town View</h4>
                            Max Occupancy: 3 adults
                            <ul class="hotelpreferences margtop10">
                                <li class="icohp-hairdryer"></li>
                                <li class="icohp-garden"></li>
                                <li class="icohp-grill"></li>
                                <li class="icohp-kitchen"></li>
                                <li class="icohp-bar"></li>
                                <li class="icohp-living"></li>
                                <li class="icohp-tv"></li>
                            </ul>
                            <div class="clearfix"></div>
                            <ul class="checklist2 margtop10">
                                <li>FREE Cancellation</li>
                                <li>Pay at hotel or pay today </li>
                            </ul>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <span class="opensans orange size24">$105.78</span><br />
                            <span class="opensans lightgrey size12">avg/night</span><br />
                            <br />
                            <span class="">9 available</span><br />
                            <br />
                            <button class="bookbtn mt1">Book</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item3.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8">
                            <h4 class="opensans dark bold margtop1 lh1">Family Suite</h4>
                            Max Occupancy: 4 adults
                            <ul class="hotelpreferences margtop10">
                                <li class="icohp-fridge"></li>
                                <li class="icohp-microwave"></li>
                                <li class="icohp-washing"></li>
                                <li class="icohp-roomservice"></li>
                                <li class="icohp-safe"></li>
                                <li class="icohp-playground"></li>
                                <li class="icohp-conferenceroom"></li>
                            </ul>
                            <div class="clearfix"></div>
                            <ul class="checklist2 margtop10">
                                <li>FREE Cancellation</li>
                                <li>Pay at hotel or pay today </li>
                            </ul>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <span class="opensans orange size24">$186.18</span><br />
                            <span class="opensans lightgrey size12">avg/night</span><br />
                            <br />
                            <span class="red bold">booked</span><br />
                            <br />
                            <button class="bookbtn mt1 cunvailable">Book</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item4.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8">
                            <h4 class="opensans dark bold margtop1 lh1">Superior, Sea View</h4>
                            Max Occupancy: 3 adults
                            <ul class="hotelpreferences margtop10">
                                <li class="icohp-internet"></li>
                                <li class="icohp-air"></li>
                                <li class="icohp-pool"></li>
                                <li class="icohp-childcare"></li>
                                <li class="icohp-fitness"></li>
                                <li class="icohp-breakfast"></li>
                                <li class="icohp-parking"></li>
                            </ul>
                            <div class="clearfix"></div>
                            <ul class="checklist2 margtop10">
                                <li>FREE Cancellation</li>
                                <li>Pay at hotel or pay today </li>
                            </ul>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <span class="opensans orange size24">$211.57</span><br />
                            <span class="opensans lightgrey size12">avg/night</span><br />
                            <br />
                            <span class="">12 available</span><br />
                            <br />
                            <button class="bookbtn mt1">Book</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

            </div>

            <!-- TAB 3 -->
            <div id="preferences" class="tab-pane fade">
                <p class="hpadding20">
                   <b>Rixos The Palm Dubai Policies & Fees</b>    
                </p>

                <div class="line4"></div>

                <!-- Collapse 10 -->
                <button type="button" class="collapsebtn2" data-target="#collapse10">
                    Check-in 
                </button>

                <div id="collapse10" class="collapse in">
                    <div class="hpadding20">
                        Check-in time starts at 3 PM
                    </div>
                    <div class="hpadding20">
                        Minimum check-in age is 18
                    </div>
                    <div class="hpadding20">
                        Special check-in instructions:
                    </div>
                    <div class="hpadding20">
                        A tourism fee is imposed by the city and collected at the property. The fee is AED 20 for the first bedroom per night, and increases by AED 20 per night for each additional bedroom. For further details, please contact the property using the information contained in your confirmation email.
                    </div>
                </div>
                        <div class="clearfix"></div>

                <!-- End of collapse 10 -->
                <br />
                <div class="line4"></div>

                <!-- Collapse 11 -->
                <button type="button" class="collapsebtn2" data-target="#collapse11">
                    Check-out
                </button>

                <div id="collapse11" class="collapse in">
                    <div class="hpadding20">
                        Check-out time is noon
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 11 -->
                <div class="line4"></div>

                <!-- Collapse 12 -->
                <button type="button" class="collapsebtn2" data-target="#collapse12">
                    Payment types
                </button>

                <div id="collapse12" class="collapse in">
                    <div class="hpadding20">
                        Accepted at this hotel: American Express, Diners Club, MasterCard, Visa 
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 12 -->
                <div class="line4"></div>

                <!-- Collapse 14 -->
                <button type="button" class="collapsebtn2" data-target="#collapse14">
                    General
                </button>

                <div id="collapse14" class="collapse in">
                    <div class="hpadding20">
                        Extra-person charges may apply and vary depending on hotel policy.
                    </div>
                    <div class="hpadding20">
                        Government-issued photo identification and a credit card or cash deposit are required at check-in for incidental charges.
                    </div>
                    <div class="hpadding20">
                        Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 14 -->
                <div class="line4"></div>

                <!-- Collapse 15 -->
                <button type="button" class="collapsebtn2" data-target="#collapse15">
                    Fees
                </button>

                <div id="collapse15" class="collapse in">
                    <div class="hpadding20">
                        Unless otherwise indicated, the charges below are not included in the overall room price. If not included in the overall room price, they will be charged by the property at check-in or check-out. Charges can vary, for example, based on length of stay or the room you book. This property told us they will charge you for the following:    
                    </div>
                    <div class="hpadding20">
                    <li>Tourism fee: AED 20 per accommodation, per night</li>
                    </div>
                    <div class="hpadding20">
                        We have included all charges provided to us by the property. However, charges can vary, for example, based on length of stay or the room you book.
                    </div>
                    <div class="hpadding20">
                        A tourism fee is imposed by the city and collected at the property. The fee is AED 20 for the first bedroom per night, and increases by AED 20 per night for each additional bedroom. For further details, please contact the property using the information contained in your confirmation email.
                    </div>
                    <div class="hpadding20">
                        The following fees and deposits are charged by the property at time of service, check-in, or check-out.
                        <li>Breakfast fee: AED 150 for adults and AED 75 for children (approximately)</li>
                        <li>Airport shuttle fee: AED 275 per vehicle (one way)</li>
                        <li>Deposit: AED 500 per night</li>
                        <li>Rollaway bed fee: AED 250 per night</li>
                    </div>
                    <div class="hpadding20">
                        The above list may not be comprehensive. Fees and deposits may not include tax and are subject to change.
                    </div>
                    <div class="clearfix"></div>
                    </div>
                <!-- End of collapse 15 -->
                <div class="line4"></div>

                <!-- Collapse 16 -->
                <button type="button" class="collapsebtn2" data-target="#collapse16">
                    Additional Details
                </button>

                <div id="collapse16" class="collapse in">
                    <div class="hpadding20">
                        This property offers transfers from the airport (surcharges may apply). Guests must contact the property with arrival details 48 hours prior to arrival, using the contact information on the booking confirmation. A fee for a mandatory New Year's Day gala dinner is included in the total price displayed for stays on 1 January. Children 11 years old and younger stay free when occupying the parent or guardian's room, using existing bedding. Only registered guests are allowed in the guestrooms. No pets and no service animals are allowed at this property.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 16 -->
            </div>
            
            <!-- TAB 4 -->
            <div id="maps" class="tab-pane fade">
                <div class="hpadding20">
                    <div id="map-canvas"></div>
                </div>
            </div>

            <!-- TAB 5 -->
            <div id="reviews" class="tab-pane fade ">
                <div class="hpadding20">
                    <div class="col-md-4 offset-0">
                        <span class="opensans dark size60 slim lh3 ">4.5/5</span><br />
                        <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" />
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success wh75percent" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">4.5 out of 5</span>
                            </div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success wh100percent" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">100% of guests recommend</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        Ratings based on 5 Verified Reviews
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <span class="opensans dark size16 bold">Average ratings</span>
                </div>

                <div class="line4"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0">
                        <div class="scircle left">4.4</div>
                        <div class="sctext left margtop15">Cleanliness</div>
                        <div class="clearfix"></div>
                        <div class="scircle left">4.0</div>
                        <div class="sctext left margtop15">Service & staff</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 offset-0">
                        <div class="scircle left">3.8</div>
                        <div class="sctext left margtop15">Room comfort</div>
                        <div class="clearfix"></div>
                        <div class="scircle left">4.4</div>
                        <div class="sctext left margtop15">Sleep Quality</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 offset-0">
                        <div class="scircle left">4.2</div>
                        <div class="sctext left margtop15">Location</div>
                        <div class="clearfix"></div>
                        <div class="scircle left">4.4</div>
                        <div class="sctext left margtop15">Value for Price</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <br />
                    <span class="opensans dark size16 bold">Reviews</span>
                </div>

                <div class="line2"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0 center">
                        <div class="padding20">
                            <div class="bordertype5">
                                <div class="circlewrap">
                                    <img src="@Url.Content("~/Content/images/user-avatar.jpg")" class="circleimg" alt="" />
                                    <span>4.5</span>
                                </div>
                                <span class="dark">by Sena</span><br />
                                from London, UK<br />
                                <img src="@Url.Content("~/Content/images/check.png")" alt="" /><br />
                                <span class="green">Recommended<br />
                                    for Everyone</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="padding20">
                            <span class="opensans size16 dark">Great experience</span><br />
                            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
                            <p>Excellent hotel, friendly staff would def go there again</p>
                            <ul class="circle-list">
                                <li>4.5</li>
                                <li>3.8</li>
                                <li>4.2</li>
                                <li>5.0</li>
                                <li>4.6</li>
                                <li>4.8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="line2"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0 center">
                        <div class="padding20">
                            <div class="bordertype5">
                                <div class="circlewrap">
                                    <img src="@Url.Content("~/Content/images/user-avatar.jpg")" class="circleimg" alt="" />
                                    <span>4.5</span>
                                </div>
                                <span class="dark">by Sena</span><br />
                                from London, UK<br />
                                <img src="@Url.Content("~/Content/images/check.png")" alt="" /><br />
                                <span class="green">Recommended<br />
                                    for Everyone</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="padding20">
                            <span class="opensans size16 dark">Great experience</span><br />
                            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
                            <p>The view from our balcony in room # 409, was terrific. It was centrally located to everything on and around the port area. Wonderful service and everything was very clean. The breakfast was below average, although not bad. If back in Zante Town we would stay there again.</p>
                            <ul class="circle-list">
                                <li>4.5</li>
                                <li>3.8</li>
                                <li>4.2</li>
                                <li>5.0</li>
                                <li>4.6</li>
                                <li>4.8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="line2"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0 center">
                        <div class="padding20">
                            <div class="bordertype5">
                                <div class="circlewrap">
                                    <img src="@Url.Content("~/Content/images/user-avatar.jpg")" class="circleimg" alt="" />
                                    <span>4.5</span>
                                </div>
                                <span class="dark">by Sena</span><br />
                                from London, UK<br />
                                <img src="@Url.Content("~/Content/images/check.png")" alt="" /><br />
                                <span class="green">Recommended<br />
                                    for Everyone</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="padding20">
                            <span class="opensans size16 dark">Great experience</span><br />
                            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
                            <p>It is close to everything but if you go in the lower season the pool won't be ready even though the temperature was quiet high already.</p>
                            <ul class="circle-list">
                                <li>4.5</li>
                                <li>3.8</li>
                                <li>4.2</li>
                                <li>5.0</li>
                                <li>4.6</li>
                                <li>4.8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="line2"></div>
                <br />
                <br />
                <div class="hpadding20">
                    <span class="opensans dark size16 bold">Reviews</span>
                </div>

                <div class="line2"></div>

                <div class="wh33percent left center">
                    <ul class="jslidetext">
                        <li>Cleanliness</li>
                        <li>Room comfort</li>
                        <li>Location</li>
                        <li>Service & staff</li>
                        <li>Sleep quality</li>
                        <li>Value for Price</li>
                    </ul>

                    <ul class="jslidetext2">
                        <li>Username</li>
                        <li>Evaluation</li>
                        <li>Title</li>
                        <li>Comment</li>
                    </ul>
                </div>
                <div class="wh66percent right offset-0">
                    <script>
                        //This is a fix for when the slider is used in a hidden div
                        function testTriger() {
                            setTimeout(function () {
                                $(".cstyle01").resize();
                            }, 500);
                        }
                    </script>
                    <div class="padding20 relative wh70percent">
                        <div class="layout-slider wh100percent">
                            <span class="cstyle01">
                                <input id="Slider1" type="slider" name="price" value="0;4.2" /></span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider() {
                                jQuery("#Slider1").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                testTriger();
                            }
                        </script>



                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider2" type="slider" name="price" value="0;5.0" /></span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider2() {
                                jQuery("#Slider2").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider3" type="slider" name="price" value="0;2.5" /></span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider3() {
                                jQuery("#Slider3").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider4" type="slider" name="price" value="0;3.8" /></span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider4() {
                                jQuery("#Slider4").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider5" type="slider" name="price" value="0;4.4" /></span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider5() {
                                jQuery("#Slider5").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider6" type="slider" name="price" value="0;4.0" /></span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider6() {
                                jQuery("#Slider6").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <input type="text" class="form-control margtop10" placeholder="">
                        <select class="form-control mySelectBoxClass margtop10">
                            <option selected>Wonderful!</option>
                            <option>Nice</option>
                            <option>Neutral</option>
                            <option>Don't recommend</option>
                        </select>
                        <input type="text" class="form-control margtop10" placeholder="">

                        <textarea class="form-control margtop10" rows="3"></textarea>

                        <div class="clearfix"></div>
                        <button type="submit" class="btn-search4 margtop20">Submit</button>

                        <br />
                        <br />
                        <br />
                        <br />

                    </div>
                </div>
                <div class="clearfix"></div>

            </div>

            <!-- TAB 6 -->
            <!-- <div id="thingstodo" class="tab-pane fade">

                <p class="hpadding20 opensans size16 dark bold">Attractions travelers recommend</p>

                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item5.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Porto Limnionas Beach</span><br />
                            <span class="green">“Just Great!!!”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" /><br />
                            <span class="opensans grey size14">31 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item6.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Marathonissi (Turtle Island), Laganas</span><br />
                            <span class="green">“Beautiful”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-5.png")" alt="" /><br />
                            <span class="opensans grey size14">23 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item7.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Navagio Beach (Shipwreck Beach)</span><br />
                            <span class="green">“like being on a tropical island”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-3.png")" alt="" /><br />
                            <span class="opensans grey size14">17 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item8.jpg")" alt="" class="fwimg" /></a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Blue Caves</span><br />
                            <span class="green">“A must see”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" /><br />
                            <span class="opensans grey size14">10 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>



            </div> -->
        </div>
    </div>

    <div class="col-md-4">
        <!-- <div class="pagecontainer2 testimonialbox">
            <div class="cpadding0 mt-10">
                <span class="icon-quote"></span>
                <p class="opensans size16 grey2">
                    It was very comfortable to stay and staff were pleasant and welcoming.<br />
                    <span class="lato orange bold size13"><i>by Ellison from United Kingdom</i></span>
                </p>
            </div>
        </div> 

        <div class="pagecontainer2 mt20 needassistancebox">
            <div class="cpadding1">
                <span class="icon-help"></span>
                <h3 class="opensans">Need Assistance?</h3>
                <p class="size14 grey">Our team is 24/7 at your service to help you with your booking issues or answer any related questions</p>
                <p class="opensans size30 green xslim">1-866-599-6674</p>
            </div>
        </div>
        <br />

        <div class="pagecontainer2 mt20 alsolikebox">
            <div class="cpadding1">
                <span class="icon-location"></span>
                <h3 class="opensans">You May Also Like</h3>
                <div class="clearfix"></div>
            </div>
            <div class="cpadding1 ">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/smallthumb-1.jpg")" class="left mr20" alt="" /></a>
                <a href="#" class="dark"><b>Hotel Amaragua</b></a><br />
                <span class="opensans green bold size14">$36-$160</span> <span class="grey">avg/night</span><br />
                <img src="@Url.Content("~/Content/images/filter-rating-5.png")" alt="" />
            </div>
            <div class="line5"></div>
            <div class="cpadding1 ">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/smallthumb-2.jpg")" class="left mr20" alt="" /></a>
                <a href="#" class="dark"><b>Hotel Amaragua</b></a><br />
                <span class="opensans green bold size14">$36-$160</span> <span class="grey">avg/night</span><br />
                <img src="@Url.Content("~/Content/images/filter-rating-5.png")" alt="" />
            </div>
            <div class="line5"></div>
            <div class="cpadding1 ">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/smallthumb-3.jpg")" class="left mr20" alt="" /></a>
                <a href="#" class="dark"><b>Hotel Amaragua</b></a><br />
                <span class="opensans green bold size14">$36-$160</span> <span class="grey">avg/night</span><br />
                <img src="@Url.Content("~/Content/images/filter-rating-5.png")" alt="" />
            </div>
            <br />
        </div> -->
    </div>
</div>




