@{
    ViewBag.Title = "Spa Details";
    Layout = "~/Views/Shared/_Layout_Details.cshtml";
}

@section header_end_css{
    <link href="~/Content/spa_details.css" rel="stylesheet" />
    <!-- bin/jquery.slider.min.css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jslider/css/jslider.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jslider/css/jslider.round.css")" type="text/css">
}

<script>
    $('li.spa').addClass('active');
</script>

<div class="container pagecontainer mart5 offset-0">
    <!-- SLIDER -->
    <div class="col-md-8 details-slider">
        <div id="c-carousel">
            <div id="wrapper">
                <div id="inner">
                    <div id="caroufredsel_wrapper2">
                        <div id="carousel">
                            <img src="@Url.Content("~/Content/images/slider/spa/spa-5.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/spa-7.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/spa-8.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/spa-3.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/spa-9.jpg")" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/spa-11.jpg")" alt="" />
                        </div>
                    </div>
                    <div id="pager-wrapper">
                        <div id="pager">
                            <img src="@Url.Content("~/Content/images/slider/spa/tooltips/spa-5t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/tooltips/spa-7t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/tooltips/spa-8t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/tooltips/spa-3t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/tooltips/spa-9t.jpg")" width="120" height="68" alt="" />
                            <img src="@Url.Content("~/Content/images/slider/spa/tooltips/spa-11t.jpg")" width="120" height="68" alt="" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <button id="prev_btn2" class="prev2">
                    <img src="@Url.Content("~/Content/images/spacer.png")" alt="" />
                </button>
                <button id="next_btn2" class="next2">
                    <img src="@Url.Content("~/Content/images/spacer.png")" alt="" />
                </button>
            </div>
        </div>
        <!-- /c-carousel -->
    </div>
    <!-- END OF SLIDER -->
    <!-- RIGHT INFO -->
    <div class="col-md-4 detailsright offset-0">
        <div class="padding20">
            <h4 class="lh1">Rixos Royal SPA Dubai</h4>
            <img src="@Url.Content("~/Content/images/smallrating-5.png")" alt="" />
        </div>

        <div class="line3"></div>

        <div class="hpadding20">
            <h2 class="opensans slim green2">Wonderful!</h2>
        </div>

        <div class="line3 margtop20"></div>

        <div class="col-md-6 bordertype1 padding20">
            <span class="opensans size30 bold grey2">97%</span><br />
            of guests<br />
            recommend
        </div>
        <div class="col-md-6 bordertype2 padding20">
            <span class="opensans size30 bold grey2">4.5</span>/5<br />
            guest ratings
        </div>

        <div class="col-md-6 bordertype3">
            <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" /><br />
            18 SPA reviews
        </div>
        <div class="col-md-6 bordertype3">
            <a href="#" class="grey">+Add review</a>
        </div>
        <div class="clearfix"></div>
        <br />

        <div class="hpadding20">
            <!-- <a href="#" class="add2fav margtop5">Add to favourite</a> -->
            <a href="#" class="booknow margtop20 btnmarg">Book now</a>
        </div>
    </div>
    <!-- END OF RIGHT INFO -->
</div>
<!-- END OF container-->

<div class="container mt25 offset-0">
    <div class="col-md-8 pagecontainer2 offset-0">
        <div class="cstyle10 orange"></div>

        <ul class="nav nav-tabs orange myTab">
            <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#summary"><span class="summary"></span><span class="hidetext">Amenities</span>&nbsp;</a></li>
            <li onclick="mySelectUpdate()" class="active"><a data-toggle="tab" href="#spaservices"><span class="rates"></span><span class="hidetext">Spa Services</span>&nbsp;</a></li>
            <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#preferences"><span class="preferences"></span><span class="hidetext">Policies & Fees</span>&nbsp;</a></li>
            <li onclick="loadScript()" class=""><a data-toggle="tab" href="#maps"><span class="maps"></span><span class="hidetext">Location</span>&nbsp;</a></li>
            <li onclick="mySelectUpdate(); trigerJslider(); trigerJslider2(); trigerJslider3(); trigerJslider4(); trigerJslider5(); trigerJslider6();" class=""><a data-toggle="tab" href="#reviews"><span class="reviews"></span><span class="hidetext">SPA Reviews</span>&nbsp;</a></li>
            <!-- <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#thingstodo"><span class="thingstodo"></span><span class="hidetext">Things to do</span>&nbsp;</a></li> -->

        </ul>
        <div class="tab-content4">
            <!-- TAB 1 -->
            <div id="summary" class="tab-pane fade ">
                <p class="hpadding20">
                    <b>Rixos Royal SPA Dubai Amenities</b>
                </p>
                <div class="line4"></div>

                <!-- Collapse 1 -->
                <button type="button" class="collapsebtn2" data-target="#collapse1">
                    About
                </button>

                <div id="collapse1" class="collapse in">
                    <div class="hpadding20">
                        The Rixos Royal Spa the Palm is a true haven of peace and tranquillity. Covering an impressive 1750 square meters and located adjacent to the hotel’s Full Service Beauty Salon, the spa features VIP Couple Room, Single Therapy Rooms, Facial & Body Treatment Room and a dedicated Thai Massage area, all with ensuite shower and changing facilities.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 1 -->

                <div class="line4"></div>

                <!-- Collapse 2 -->
                <button type="button" class="collapsebtn2" data-target="#collapse2">
                    General
                </button>

                <div id="collapse2" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Spa tub in spa</li>
                                <li>Massages</li>
                                <li>Number of treatment rooms 11</li>
                                <li>Outdoor treatment areas</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Couples treatment rooms</li>
                                <li>Manicures and pedicures</li>
                                <li>Body scrubs</li>
                                <li>Aromatherapy treatments</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Sauna in spa</li>
                                <li>Body treatments</li>
                                <li>Facial treatments</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 2 -->

                <div class="line4"></div>

                <!-- Collapse 3 -->
                <button type="button" class="collapsebtn2" data-target="#collapse3">
                    Internet
                </button>

                <div id="collapse3" class="collapse in">
                    <div class="hpadding20">
                        Available in SPA Treatment Areas: Free Wi-Fi
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 3 -->

                <div class="line4"></div>

                <!-- Collapse 5 -->
                <button type="button" class="collapsebtn2" data-target="#collapse5">
                    Parking
                </button>

                <div id="collapse5" class="collapse in">
                    <div class="hpadding20">
                        Free valet parking
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 5 -->

                <div class="line4"></div>

                <!-- Collapse 6 -->
                <button type="button" class="collapsebtn2" data-target="#collapse6">
                    SPA Treatments
                </button>

                <div id="collapse6" class="collapse in">
                    <div class="hpadding20">
                        This term refers to several types of treatments performed in RRSpA. Some of these include;
                    </div>
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Hydrotherapy</li>
                                <li>Algae Therapy</li>
                                <li>Aromatherapy</li>
                                <li>Manual lymphatic drainage</li>
                                <li>Hot Stone Therapy</li>
                                <li>Lava-Shell Massage</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Sports Therapy</li>
                                <li>Traditional Hamam Treatment</li>
                                <li>Medical Massage</li>
                                <li>Thai Massage</li>
                                <li>Ayurvedic therapies</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Bali Massage</li>
                                <li>Shiatsu</li>
                                <li>Reflexology</li>
                                <li>Face and body treatments</li>
                                <li>Healthy weight control</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 6 -->
                <div class="line4"></div>

                <!-- Collapse 7 -->
                <button type="button" class="collapsebtn2" data-target="#collapse7">
                    Treatment Areas
                </button>

                <div id="collapse7" class="collapse in">
                    <div class="hpadding20">
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Executive individually designed treatment rooms</li>
                                <li>Turkish Baths, Saunas and steam baths</li>
                                <li>Hydrotherapy pool</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Couples twin treatment rooms</li>
                                <li>Relaxation lounges</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="checklist">
                                <li>Fitness Center with state of the art equipment</li>
                                <li>Step aerobics, Pilates, Body Reformer, Yoga</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 7 -->
            </div>

            <!-- TAB 2 -->
            <div id="spaservices" class="tab-pane fade active in">
                @Html.Action("SpaServices", "SpaDetails")
            </div>

            <!-- TAB 3 -->
            <div id="preferences" class="tab-pane fade">

                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse7">
                    SPA Opening Time
                </button>

                <div id="collapse7" class="collapse in">
                    <div class="hpadding20">
                        The Club is open daily for Hotel Guests, Members and Guests between the hours of 7:00 am and 11:00 pm. Spa treatments are available between the hours of 9:00 am to 11:00 pm . The Company retains the right to extend or limit the opening/closing hours at its own discretion without prior notice.
                    </div>

                </div>
                <!-- End of collapse 8 -->
                <br />
                <div class="line4"></div>

                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse8">
                    Cancellation Policy
                </button>

                <div id="collapse8" class="collapse in">
                    <div class="hpadding20">
                        Cancellation is free of charge if made 24 hours in advance. Hotel guests must give four hours notice, after which the full cost of the treatments will be charged.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 8 -->
                <div class="line4"></div>

                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse9">
                    Fees
                </button>

                <div id="collapse9" class="collapse in">
                    <div class="hpadding20">
                        Unless otherwise indicated, the charges below are not included in the overall treatment price. If not included in the overall treatment price, they will be charged by the property at treatment session check-in. Charges can vary, for example, based on change in length of session or addition of extra sessions during treatment.
                    </div>
                    <div class="hpadding20">
                        We have included all charges provided to us by the property. However, charges can vary, for example,  based on change in length of session or addition of extra sessions during treatment.
                    </div>
                    <div class="hpadding20">
                        For further details, please contact the property using the information contained in your confirmation email.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 8 -->
                <div class="line4"></div>

                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse8">
                    Reservations
                </button>

                <div id="collapse8" class="collapse in">
                    <div class="hpadding20">
                        Bookings made by external guests directly with RRSPA may be secured by a credit card or cash payment. Bookings made by hotel guests directly with RRSPA are guaranteed by the signing of a reservation.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 8 -->
                <div class="line4"></div>

                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse8">
                    Arrival at RRSPA
                </button>

                <div id="collapse8" class="collapse in">
                    <div class="hpadding20">
                        To enhance your spa experience, we encourage you to arrive 15 minutes prior to your treatment. Throw off your shoes and indulge yourself with our luxurious robes and slippers, leave your cares at the door and unwind in our calming, therapeutic and relaxed environment. Give yourself time prior to your treatment to optimise the overall effects, and completely re-balance your mind, body and spirit.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 8 -->
                <div class="line4"></div>

                <!-- Collapse 8 -->
                <button type="button" class="collapsebtn2" data-target="#collapse8">
                    Treatments at RRSPA
                </button>

                <div id="collapse8" class="collapse in">
                    <div class="hpadding20">
                        Reservations of 30, 60, 90 or more minutes have an effective treatment time of 20, 50, 80 or more minutes.
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of collapse 8 -->
            </div>

            <!-- TAB 4 -->
            <div id="maps" class="tab-pane fade">
                <div class="hpadding20">
                    <div id="map-canvas"></div>
                </div>
            </div>

            <!-- TAB 5 -->
            <div id="reviews" class="tab-pane fade ">
                <div class="hpadding20">
                    <div class="col-md-4 offset-0">
                        <span class="opensans dark size60 slim lh3 ">4.5/5</span><br />
                        <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" />
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success wh75percent" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">4.5 out of 5</span>
                            </div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success wh100percent" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">100% of guests recommend</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        Ratings based on 5 Verified Reviews
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <span class="opensans dark size16 bold">Average ratings</span>
                </div>

                <div class="line4"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0">
                        <div class="scircle left">4.4</div>
                        <div class="sctext left margtop15">Cleanliness</div>
                        <div class="clearfix"></div>
                        <div class="scircle left">4.0</div>
                        <div class="sctext left margtop15">Service & staff</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 offset-0">
                        <div class="scircle left">3.8</div>
                        <div class="sctext left margtop15">Room comfort</div>
                        <div class="clearfix"></div>
                        <div class="scircle left">4.4</div>
                        <div class="sctext left margtop15">Sleep Quality</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 offset-0">
                        <div class="scircle left">4.2</div>
                        <div class="sctext left margtop15">Location</div>
                        <div class="clearfix"></div>
                        <div class="scircle left">4.4</div>
                        <div class="sctext left margtop15">Value for Price</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <br />
                    <span class="opensans dark size16 bold">Reviews</span>
                </div>

                <div class="line2"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0 center">
                        <div class="padding20">
                            <div class="bordertype5">
                                <div class="circlewrap">
                                    <img src="@Url.Content("~/Content/images/user-avatar.jpg")" class="circleimg" alt="" />
                                    <span>4.5</span>
                                </div>
                                <span class="dark">by Sena</span><br />
                                from London, UK<br />
                                <img src="@Url.Content("~/Content/images/check.png")" alt="" /><br />
                                <span class="green">
                                    Recommended<br />
                                    for Everyone
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="padding20">
                            <span class="opensans size16 dark">Great experience</span><br />
                            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
                            <p>Excellent hotel, friendly staff would def go there again</p>
                            <ul class="circle-list">
                                <li>4.5</li>
                                <li>3.8</li>
                                <li>4.2</li>
                                <li>5.0</li>
                                <li>4.6</li>
                                <li>4.8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="line2"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0 center">
                        <div class="padding20">
                            <div class="bordertype5">
                                <div class="circlewrap">
                                    <img src="@Url.Content("~/Content/images/user-avatar.jpg")" class="circleimg" alt="" />
                                    <span>4.5</span>
                                </div>
                                <span class="dark">by Sena</span><br />
                                from London, UK<br />
                                <img src="@Url.Content("~/Content/images/check.png")" alt="" /><br />
                                <span class="green">
                                    Recommended<br />
                                    for Everyone
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="padding20">
                            <span class="opensans size16 dark">Great experience</span><br />
                            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
                            <p>The view from our balcony in room # 409, was terrific. It was centrally located to everything on and around the port area. Wonderful service and everything was very clean. The breakfast was below average, although not bad. If back in Zante Town we would stay there again.</p>
                            <ul class="circle-list">
                                <li>4.5</li>
                                <li>3.8</li>
                                <li>4.2</li>
                                <li>5.0</li>
                                <li>4.6</li>
                                <li>4.8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="line2"></div>

                <div class="hpadding20">
                    <div class="col-md-4 offset-0 center">
                        <div class="padding20">
                            <div class="bordertype5">
                                <div class="circlewrap">
                                    <img src="@Url.Content("~/Content/images/user-avatar.jpg")" class="circleimg" alt="" />
                                    <span>4.5</span>
                                </div>
                                <span class="dark">by Sena</span><br />
                                from London, UK<br />
                                <img src="@Url.Content("~/Content/images/check.png")" alt="" /><br />
                                <span class="green">
                                    Recommended<br />
                                    for Everyone
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="padding20">
                            <span class="opensans size16 dark">Great experience</span><br />
                            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
                            <p>It is close to everything but if you go in the lower season the pool won't be ready even though the temperature was quiet high already.</p>
                            <ul class="circle-list">
                                <li>4.5</li>
                                <li>3.8</li>
                                <li>4.2</li>
                                <li>5.0</li>
                                <li>4.6</li>
                                <li>4.8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="line2"></div>
                <br />
                <br />
                <div class="hpadding20">
                    <span class="opensans dark size16 bold">Reviews</span>
                </div>

                <div class="line2"></div>

                <div class="wh33percent left center">
                    <ul class="jslidetext">
                        <li>Cleanliness</li>
                        <li>Room comfort</li>
                        <li>Location</li>
                        <li>Service & staff</li>
                        <li>Sleep quality</li>
                        <li>Value for Price</li>
                    </ul>

                    <ul class="jslidetext2">
                        <li>Username</li>
                        <li>Evaluation</li>
                        <li>Title</li>
                        <li>Comment</li>
                    </ul>
                </div>
                <div class="wh66percent right offset-0">
                    <script>
                        //This is a fix for when the slider is used in a hidden div
                        function testTriger() {
                            setTimeout(function () {
                                $(".cstyle01").resize();
                            }, 500);
                        }
                    </script>
                    <div class="padding20 relative wh70percent">
                        <div class="layout-slider wh100percent">
                            <span class="cstyle01">
                                <input id="Slider1" type="slider" name="price" value="0;4.2" />
                            </span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider() {
                                jQuery("#Slider1").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                testTriger();
                            }
                        </script>



                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider2" type="slider" name="price" value="0;5.0" />
                            </span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider2() {
                                jQuery("#Slider2").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider3" type="slider" name="price" value="0;2.5" />
                            </span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider3() {
                                jQuery("#Slider3").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider4" type="slider" name="price" value="0;3.8" />
                            </span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider4() {
                                jQuery("#Slider4").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider5" type="slider" name="price" value="0;4.4" />
                            </span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider5() {
                                jQuery("#Slider5").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <div class="layout-slider margtop10 wh100percent">
                            <span class="cstyle01">
                                <input id="Slider6" type="slider" name="price" value="0;4.0" />
                            </span>
                        </div>
                        <script type="text/javascript">
                            function trigerJslider6() {
                                jQuery("#Slider6").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                            }
                        </script>

                        <input type="text" class="form-control margtop10" placeholder="">
                        <select class="form-control mySelectBoxClass margtop10">
                            <option selected>Wonderful!</option>
                            <option>Nice</option>
                            <option>Neutral</option>
                            <option>Don't recommend</option>
                        </select>
                        <input type="text" class="form-control margtop10" placeholder="">

                        <textarea class="form-control margtop10" rows="3"></textarea>

                        <div class="clearfix"></div>
                        <button type="submit" class="btn-search4 margtop20">Submit</button>

                        <br />
                        <br />
                        <br />
                        <br />

                    </div>
                </div>
                <div class="clearfix"></div>

            </div>

            <!-- TAB 6 -->
            @*<div id="thingstodo" class="tab-pane fade">

                <p class="hpadding20 opensans size16 dark bold">Attractions travelers recommend</p>

                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item5.jpg")" alt="" class="fwimg" />
                        </a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Porto Limnionas Beach</span><br />
                            <span class="green">“Just Great!!!”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" /><br />
                            <span class="opensans grey size14">31 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item6.jpg")" alt="" class="fwimg" />
                        </a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Marathonissi (Turtle Island), Laganas</span><br />
                            <span class="green">“Beautiful”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-5.png")" alt="" /><br />
                            <span class="opensans grey size14">23 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item7.jpg")" alt="" class="fwimg" />
                        </a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Navagio Beach (Shipwreck Beach)</span><br />
                            <span class="green">“like being on a tropical island”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-3.png")" alt="" /><br />
                            <span class="opensans grey size14">17 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>

                <div class="padding20">
                    <div class="col-md-4 offset-0">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/items2/item8.jpg")" alt="" class="fwimg" />
                        </a>
                    </div>
                    <div class="col-md-8 offset-0">
                        <div class="col-md-8 mediafix1">
                            <span class="opensans dark size16 margtop1 margtop-5">Blue Caves</span><br />
                            <span class="green">“A must see”</span> 08/27/2013<br />
                            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 center bordertype4">
                            <img src="@Url.Content("~/Content/images/user-rating-4.png")" alt="" /><br />
                            <span class="opensans grey size14">10 reviews</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="bookbtn mt1">More</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="line2"></div>
            </div>*@
        </div>
    </div>

    <div class="col-md-4">

    </div>
</div>





