@using H724.Models

<div class="container well" id="SubNavChangeSearch">
    <ul>
        <li class="destinationName">Hotel Spas in <span id="SubNavCurrentDestination">Dubai, United Arab Emirates</span></li>
        <li>From May 28, 2014 To May 30, 2014 </li>
        <li>1 room(s), 2 adult(s) </li>
        <li class="last">
            <a class="iconSet" id="SubNavChangeSearchLink" data-target="#search_change" data-toggle="collapse" href="#">
                <i class="fa fa-caret-right size16"></i>
                <span class="iconText">Change your search</span>
            </a>
        </li>
    </ul>
</div>
<div id="search_change" class="rowsearch well container collapse">

    <ul class="nav nav-tabs myTab">
        <li class="room"><a data-toggle="tab" href="#room_search_tab"><span class="room"></span><span class="hidetext">Room</span>&nbsp;</a></li>
        <li class="spa"><a data-toggle="tab" href="#spa_search_tab"><span class="spa"></span>&nbsp;<span class="hidetext">Spa</span>&nbsp;</a></li>
        <li class="restaurant"><a data-toggle="tab" href="#restaurant_search_tab"><span class="restaurant"></span>&nbsp;<span class="hidetext">Restaurant</span>&nbsp;</a></li>
        <li class="pool"><a data-toggle="tab" href="#pool_search_tab"><span class="pool"></span>&nbsp;<span class="hidetext">Pool</span>&nbsp;</a></li>
        <li class="event"><a data-toggle="tab" href="#event_search_tab"><span class="event"></span>&nbsp;<span class="hidetext">Event</span>&nbsp;</a></li>
    </ul>

    <div class="tab-content">
        @{
            var searchType = ViewBag.SearchType;

            var activeTab = searchType == SearchType.RoomSearch ? "room_search_tab" :
                            searchType == SearchType.SpaSearch ? "spa_search_tab" :
                            searchType == SearchType.RestaurantSearch ? "restaurant_search_tab" :
                            searchType == SearchType.PoolSearch ? "pool_search_tab" : "event_search_tab";
        }
        <!-- Tab room_search_tab -->
        <div class="tab-pane " id="room_search_tab">
            @Html.Action("RoomSearch", "Search")
        </div>
        <!-- End of Tab room_search_tab -->
        <!-- Tab spa_search_tab -->
        <div class="tab-pane " id="spa_search_tab">
            @Html.Action("SpaSearch", "Search")
        </div>
        <!-- End of Tab spa_search_tab -->
        <!-- Tab restaurant_search_tab -->
        <div class="tab-pane " id="restaurant_search_tab">
            @Html.Action("RestaurantSearch", "Search")
        </div>
        <!-- End of Tab restaurant_search_tab -->
        <!-- Tab pool_search_tab -->
        <div class="tab-pane " id="pool_search_tab">
            @Html.Action("PoolSearch", "Search")
        </div>
        <!-- End of Tab pool_search_tab -->
        <!-- Tab event_search_tab -->
        <div class="tab-pane " id="event_search_tab">
            @Html.Action("EventSearch", "Search")
        </div>
        <!-- End of event_search_tab -->
        
        <script>
            $('#@(activeTab)').addClass("active");
        </script>
        <div class="clearfix"></div><br />

        <button type="submit" class="btn-search4 margleft15">Search</button>
    </div>

</div>

